@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@600&family=Open+Sans:wght@400;600;800&display=swap');

@layer base {
  input {
    @apply bg-gray-100 shadow-sm w-full rounded-3xl p-3 border-4 border-b-gray-100;
  }
  select {
    @apply bg-gray-100 shadow-sm w-full rounded-3xl p-4;
  }
  .label {
    @apply font-bold mb-1 ml-3;
  }
  .error {
    @apply text-redCustom mt-2 ml-2 text-sm ;
  }

}

body {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
}

.flechita select {
  border: 1px solid #ccc;
  background: red;
  margin-right: 5px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

